{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'documentos/app.css' %}">
    <link rel="icon" type="image/png" href="{% static 'documentos/favicons/Bookmark.png' %}">
    <title>Recepção de Documentos</title>
</head>
<body>
    <main class="container">
    <h1>Envio de Documentos</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>
    <p>
  <a href="/consulta/">
    🔎 Consultar protocolo já enviado
  </a>
</p>

<hr>
    </main>
</body>
</html>
